/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, 
video,footer {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body, button, a, a:hover, 
label, ul li a, div, img, *{
  cursor: url(./cursor.png),auto;
}

header {
    text-align: center;
}

header img.horizontal {
    margin: auto;
    width: 100%;
    background-color: #FBFBFB;
}

header img.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
    background-color: rgb(139, 139, 139);
}

nav {
    background: linear-gradient(to right, #FBFBFB, #554f4f 0.5%, #554f4f 99.5%, #FBFBFB);
    background-color: #554f4f;
    font-size: 14px;
    line-height: 1;
    text-align: left;
    margin-left: 7.8%;
    margin-right: 7.8%;
    padding:0;
    padding-left: 2px;
    padding-right: 2px;
}

ul li {
    list-style-type: none;
}

nav ul li {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    background-color: #d47d67;
    margin: 2px;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
}

aside.discografia ul {
    background-color: navajowhite;
    background: linear-gradient(to right, black, navajowhite 0.5%, navajowhite 99.5%, black);
    font-size: 14px;
    padding:0;
    padding-left: 2px;
    padding-right: 2px;
} 

aside.discografia ul li {
    text-align: center;
    line-height: 35px;
    background-color: #d47d67;
    margin: 1px;
}

aside.discografia ul li a {
    text-decoration: none;
}

a:link {
    color: whitesmoke;
}

a:visited {
    color: black;
}

a:hover {
    color: #d95e40;
}

a:active {
    color: pink;
}

table, table tr,  table tr th, table tr td {
    max-width: 107%;
}

table tr:nth-child(odd){
    background-color: #FFF8DB;
}

table tr:nth-child(even){
    background-color: #FFE4C2;
}

table, table tr th {
    background-color: silver;
}

table tr th:hover, table tr td:hover {
    background-color: #d95e40;
    color: paleturquoise;
}

table tr th, table tr td {
    color: black;
}

nav ul li:hover, aside.discografia ul li:hover{
    background-color: rgb(255, 151, 144);
}

footer a:hover{
    background-color: rgb(255, 151, 144);
}

body {
    color: silver;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Fira Code';
    src: url(../tipografia/FiraCode-Light.ttf);
}

body img.imagen {
    margin: 3px;
    padding: 1px;
    background-color: gold;
}

body aside {
    text-align: center;
}

body aside, body main {
    background: linear-gradient(to right, #FBFBFB, black 0.4%, black 99.6%, #FBFBFB);
    background-color: black;
    padding: 25px;
    margin-left: 7.8%;
    margin-right: 7.8%;
}

h1, h2, h3 {
    color: gold;
    padding: 25px;
}

aside ul {
    padding: 20px;
}

main article {
    padding: 10px;
    padding-left: 20px;
    text-align: center;
}

main article p, main article ul, main article h2.titulocuerpo, main article ol, form{
    padding: 20px;
    text-align: left;
}

main article.articulos ul{
    text-align: center;
}

img{
    max-width: 100%;
}

fieldset {
    border-color: palegoldenrod;
    border-width: 1px;
    border-style: groove;
    padding: 20px;
    margin: 2px;
}

footer {
    background: linear-gradient(to right, #FBFBFB, #554f4f 0.4%, #554f4f 99.6%, #FBFBFB);
    padding: 20px;
    margin-left: 7.8%;
    margin-right: 7.8%;
    text-align: center;
}