/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, 
video,footer {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

header {
    background-color: lightblue;
    padding-top: 20px;
    height: 75px;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}

nav {
    background-color: lightsalmon;
    font-size: 1.2em;
    height: 125px;
    padding: 25px;
    padding-left: 150px;
}

nav ul li {
    list-style-type: none;
    line-height: 30px;
}

main {
    background-color: beige;
}

article.informacion {
    padding: 30px;
    padding-bottom: 1px;
}

article.informacion h2 {
    font-size: 2em;
    padding-bottom: 25px;
}

article.informacion dl{
    font-size: 23px;
    padding-bottom: 25px;
    font-weight: 700;
}

article.informacion dl dd {
    font-size: 1em;
    font-weight: 100;
    text-indent: 32px;
}

article.ingr {
    padding-left: 17px; 
    margin: 1%;
    margin-top: 0%;
}

article.ingr h2 {
    background-color: cornflowerblue;
    color: white;
    font-size: 30px;
    padding-top: 1.5%;
    padding-left: 3%;
    height: 50px;
}

article.ingr ul {
    background-color: lightskyblue;
    padding-top: 1%;
    padding-left: 3%;
    font-style: oblique;
}

article.descripcion {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 1px;
}

article.descripcion h2{
    font-size: 2em;
    padding-bottom: 25px;
}

article.descripcion p {
    font-size: 20px;
    text-indent: 32px;
    width: 100%;
}

article.preparacion {
    background-color: lightgreen;
    margin: 25px;
    padding: 25px;
}

article.preparacion h2 {
    background-color: burlywood;
    text-align: center;
}

article.preparacion section {
    background-color: lightgray; 
}

article.preparacion section iframe {
    align-content: center;
}