/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, 
video,footer {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

header {
    background-color: lightblue;
    padding: 20px;
    
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}

nav {
    background-color: lightsalmon;
    font-size: 1.2em;
    height: 125px;
    padding: 25px;
    padding-left: 150px;
}

nav ul li{
    list-style-type: none;
    color: rosybrown;
    line-height: 30px;
    text-align: left;
}

li a {
    text-decoration: none;
    color: rgb(252, 96, 90);
}

a:link {
    color: red;
}

a:visited {
    color: rgb(28, 117, 17);
}

a:hover {
    color: hotpink;
}

a:active {
    color: pink;
}

nav ul li:hover{
    background-color: rgb(255, 151, 144);
    cursor: pointer;
    width: 175px;
}

body {
    background-color: beige;
}

article.informacion {
    padding: 30px;
    padding-bottom: 1px;
    margin-left: 6px;
}

article.informacion h2 {
    font-size: 2em;
    padding-bottom: 25px;
}

article.informacion dl{
    font-size: 23px;
    padding-bottom: 25px;
    font-weight: 900;
}

article.informacion dl dd {
    font-size: 1em;
    font-weight: 100;
    text-indent: 32px;
}

article.ingr {
    padding-left: 17px; 
    margin: 1%;
    margin-top: 0%;
}

article.ingr h2 {
    background-color: cornflowerblue;
    color: white;
    font-size: 30px;
    padding-top: 1.5%;
    padding-left: 3%;
    height: 50px;
}

article.ingr ul {
    background-color: lightskyblue;
    padding: 25px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-style: oblique;
}

article.descripcion {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 1px;
}

article.descripcion h2{
    font-size: 2em;
    padding-bottom: 25px;
}

article.descripcion p {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    text-align-last:left;
}

article.preparacion {
    background-color: lightgreen;
    margin: 25px;
    padding: 25px;
    margin-top:1px;
    font-size: 20px;
}

article.preparacion section {
    margin: 10px;
}

article.preparacion section.elab {
    background-color: lightgray; 
}

article.preparacion h2 {
    background-color: burlywood;
    padding: 20px;
    text-align: center;
}

article.preparacion ol {
    padding: 35px;
    padding-left: 50px;
}

article.preparacion p{
    margin-bottom: 20px;
}

article.preparacion iframe{
    display: block;
    margin: 0 auto;
}

article.preparacion ul {
    padding: 25px;
    padding-bottom: 10px;
}

footer {
    font-size: 20px;
    text-indent: 15px;
    height: 50px;
}