/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, 
video,footer {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

nav {
    text-align: center;
    background-color: orangered;
    padding: 10px;
}

nav ul li{
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

header {
    text-align: center;
    padding: 5%; 
}

main {
    padding:5%; 
}

article{
    margin-top: 2%;
}

section {
    padding: 1%;
}

#noticia_destacada {
    float: right;
    width: 60%;
    padding-bottom: 25%;
}

#noticia_destacada img, #noticia_destacada h2{
    padding-left: 20%;
    max-width: 100%;
}

article#Dos_Columnas section.noticia > img, article#Dos_Columnas section.noticia h2{
    float: left;
    width: 37%;
    padding-bottom: 2%;
    padding-left: 0.7%;
}

article#Tres_Columnas {
    clear: both;
}

article#Tres_Columnas section.noticia {
    float: left;
    width: 30%;
}

article#Tres_Columnas section.noticia > img, article#Tres_Columnas section.noticia > h2 {
    width: 60%;
}


article#Anuncios {
    clear: both;
}

article#Anuncios section.anuncio {
    float: left;
    width: 20%;
}

article#Anuncios section.anuncio{
    padding: 2%;
}

footer {
    text-align: center;
    background-color: orangered;
    padding: 10px;
    margin-top: 20%;
}

footer p{
    color: white;
}

/*#Titular {
    float: right;
    width: 20%;
}

article.Dos_Columnas {
    float: left;
}

article.Tres_Columnas {
    float:both;
}

article.Tres_Columnas img{
    float: left;
}*/