/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, 
video,footer {
    margin: 0;
    padding: 0;
    border: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 10% 100% 5%;
    grid-template-areas: 
    "header header"  
    "nav nav"
    "aside aside"
    "main main" 
    "footer footer";
}

.header-grid {
    grid-area: header;
}

.nav-grid {
    grid-area: nav;
}

.aside-grid {
    grid-area: aside;
}

.main-grid {
    grid-area: main;
}

.footer-grid {
    grid-area: footer;
}

@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 750px 200px 1fr;
        grid-template-rows: 5% 10% 100% 100%;
        grid-template-areas:  
        ". header header ." 
        ". nav nav ."
        ". main aside ."
        ". footer footer .";
    }
}

@media screen and (max-device-width: 480px){
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 10% 100% 5%;
        grid-template-areas: 
        "header header"  
        "nav nav"
        "aside aside"
        "main main" 
        "footer footer";
    }
}

body, button, a, a:hover, 
label, ul li a, div, img, *{
  cursor: url(./img/cursor.png),auto;
}

@font-face {
    font-family: "myfont";
    src: url("./Tipo\ de\ letra/normal.woff2") format('woff');
}

@font-face {
    font-family: "myfontbold";
    src: url("./Tipo\ de\ letra/negrita.woff2") format('woff');
    font-weight: bold;
}

h1 {
    font-family: myfontbold;
    padding: 5%;
    padding-top: 0;
}

p, li, a, label, th, td {
    font-family: myfont;
}

label {
    font-size: 12px;
}

span {
    display: block;
    padding: 5%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #F3F4EE;
}

td img {
    width: 50%;
}

tr.found {
    background-color:#333232;
}

tr:hover {
    background-color:#4b4949;
}

input[type=text], textarea,input[type=password], input[type=email], input[type=number],select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(44, 212, 156);
    color: #F3F4EE;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #96c998;
}

body {
    background-color: #F3F4EE;
    color: #F3F4EE;
}

body > * {
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #F3F4EE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(44, 212, 156);
}

#right {
    float: right;
}

header {
    padding: 5%;
}

header img{
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

aside > * {
    width: 100%;
    padding: 10px;
}

aside {
    display: inline-block;
    padding: 15%;
}

main {
    display: inline;
    align-content: center;
    padding: 10%;
    padding-top: 0;
}

main > * {
    padding: 4%;
    padding-left: 0;
    padding-right: 0;
}

img#main {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.componentefoto {
    float: left;
    padding: 5%;
}

.componentefoto img{
    width: 65%;
}

ul.image_album{
    display: inline-block;
}

ul.image_album li {
    float: left;
    list-style: none;
    width: 10%;
    padding: 10%;
}

ul.image_album li img {
    width: 250%;
}

footer {
    background-image: url(./img/bottom-wrap.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85% 45px;
}

footer ul {
    padding:0; 
    margin:0;
    display: flex;
    list-style: none;
    justify-content:center;
}

footer ul li {
    display: inline-block;
    max-width: 100%;
}

footer ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    max-width: 100%;
    font-size: 80%;
}